In [9]:
import pandas as pd
import matplotlib.plot as plot
%matplotlib

Using matplotlib backend: Qt5Agg

In [10]:
df = pd.read_csv("trans_cust_avg.csv",index_col="customer_ID")

In [11]:
df.head(2)

              type_of_transaction  payment_amount
customer_ID
111000351841                774.0         52500.0
111550002284                 34.0        502500.0

NameError: name 'plot' is not defined